---
import { config } from '../config.js';
const { bundle, cat } = Astro.props;

let catData = config.categories.find(c => c.col === cat)

let items = bundle.data[cat]

if (cat === 'people') {
    items = items.sort((x, y) => (x.eips?.length || 0) > (y.eips?.length || 0) ? -1 : 1 )
}

---

<div>
    <h1 class="text-2xl mb-10">{catData.name} ({items.length})</h1>

    <div class="">
        {items.map((item) => (
            <div class="border p-3 mb-4">
                <div class="text-lg">
                    <a href={`/${item.slug}`} class="hover:underline">{item.name}</a>
                </div>
            </div>
        ))}
    <div>
</div>