---
import { config } from '../config.js';
const { bundle, cat } = Astro.props;

let catData = config.categories.find(c => c.col === cat)

let items = bundle.data[cat]

if (cat === 'people') {
    items = items.sort((x, y) => ((x.eips?.length || 0) + (x.ercs?.length || 0)) > ((y.eips?.length || 0) + (y.ercs?.length || 0)) ? -1 : 1 )
}

---

<div>
    <h1 class="text-2xl mb-10">{catData.name} ({items.length})</h1>

    <div class="">
        {items.map((item) => (
            <div class="border p-3 mb-4 flex gap-2">
                <div class="text-lg">
                    <a href={`/${item.slug}`} class="hover:underline">{item.name}</a>
                </div>
                <div class="">
                    {item.protocolGuild?.member === true &&
                        <div class="inline-block border bg-red-100 px-1 py-0.5 text-xs">CORE</div>
                    }
                    {item.eips && item.eips.length > 0 &&
                        <div class="inline-block border bg-yellow-100 px-1 py-0.5 text-xs">EIP</div>
                    }
                    {item.ercs && item.ercs.length > 0 &&
                        <div class="inline-block border bg-blue-100 px-1 py-0.5 text-xs">ERC</div>
                    }
                </div>
            </div>
        ))}
    <div>
</div>